@import 'bower_components/susy/sass/susy';

$container-style: fluid;

* {
  box-sizing: border-box;
}

body {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.bar {
  @include container(90%);

  input {
    @include span(10 of 12);
    width: 100%;
    border: medium none;
    padding: 1em 1.5em;
    font-size: 1.1em;
    margin: 2em 0;
  }
}

.tableau {
  @include container(85%);

  .icon {
    float: left;
    width: 100%;
    height: 70px;
  }
  .twitter {
    background: blue;
  }

  .red {
    background: red;
  }
}

@media (min-width: 350px) {
  .icon {
    width: 50% !important;
  }
}

@media (min-width: 600px) {
  .icon {
    width: percentage(1/3) !important;
  }
}

@media (min-width: 800px) {
  .icon {
    width: percentage(1/4) !important;
  }
}

@media (min-width: 950px) {
  .icon {
    width: percentage(1/5) !important;
  }
}
